<script>
  ga_storage._setAccount('UA-71012021-2'); //Replace with your own
  ga_storage._trackPageview('/main.html');
</script>

<div class="homeContent">
<img class="homelogo_test" src="img/ClubCare_logo_colour.png" />
<div class="pageTitle" style="margin-top:22px;"><img src="img/defaqto.png" width="68px"/></div>
<div style="clear: both;"></div>
<div class="pageBlock" style="background-color:transparent;">
<style>
	td a{width:80%;display:block;}
</style>
</div>
<table style="width: 80%;" cellspacing="10" align="center">
	<tbody>
		<tr>
			<td style="height: 45px; width: 80%; background-color: rgba(44,181,227, 0.9);"><a style="text-decoration: none; font-size:16px; padding-left:12%; font-weight: lighter; color: #ffffff;" href="#/products" ><i class="fa fa-th-large fa-lg" style="font-size:28px;  padding-left:4%;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Products</a></td>
		</tr>
		<tr>
			<td>&nbsp; &nbsp;</td>
		</tr>
		<tr>
			<td style="height: 45px; width: 80%; background-color: rgba(44,181,227, 0.9);"><a style="text-decoration: none; font-size:16px; padding-left:12%;  font-weight: lighter; color: #ffffff;" href="#/claim"><i class="fa fa-exclamation-triangle fa-lg" style="font-size:28px; padding-left:4%; color: #ffffff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Claims</a></td>
		</tr>
		<tr>
			<td>&nbsp; &nbsp;</td>
		</tr>
		<tr>
			<td style="height: 45px; width: 80%; background-color: rgba(44,181,227, 0.9);"><a style="text-decoration: none; font-size:16px; padding-left:12%; font-weight: lighter; color: #ffffff;" href="#/repairer"><i class="fa fa-wrench fa-lg" style="font-size:28px;  padding-left:4%;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Repairer</a></td>
		</tr>
		<tr>
			<td>&nbsp; &nbsp;</td>
		</tr>
		<tr>
			<td style="height: 45px; width: 80%; background-color: rgba(44,181,227, 0.9);"><a style="text-decoration: none; font-size:16px; padding-left:12%; font-weight: lighter; color: #ffffff;" href="#/twitter"><i class="fa fa-bullhorn fa-lg" style="font-size:28px;  padding-left:4%;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Latest News</a></td>
		</tr>
	</tbody>
</table>
</center>
</div>
